name: Semantic Release

on:
  workflow_dispatch:
  pull_request:
    branches:
    - master
    paths-ignore:
      - '.github/**'
      - '.gitattributes'
      - '.gitignore'
      - '**.md'
  push:
    branches:
    - master
    paths-ignore:
      - '.github/**'
      - '.gitattributes'
      - '.gitignore'
      - '**.md'

jobs:
  SemanticRelease:
    name: Semantic Release
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Exclude package.json files
        run: |
          Remove-Item -Recurse -Force com.mirror.steamworks.net\package.json
          Remove-Item -Recurse -Force com.mirror.steamworks.net\package.json.meta
        
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '3.1.100'
  
      # Installs nuget package from https://www.nuget.org/packages/unity-packer
      - name: Install unity-packer
        run: dotnet tool install -g unity-packer
  
      - name: Package
        run: unity-packer pack FizzySteamworks.unitypackage com.mirror.steamworks.net Assets/Mirror/Transports/FizzySteamworks

      - uses: actions/upload-artifact@v4
        with:
          name: FizzySteamworks.unitypackage
          path: FizzySteamworks.unitypackage

      - name: Release
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/exec
            @semantic-release/changelog
            @semantic-release/git
          branch: master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
